.btn{
    &:not(.btn-sm):not(.btn-xs){
        border:0!important;
        height:50px;
        line-height:50px!important;
        padding: 0 30px!important;
        transition: all .2s;
    }

    &.btn-primary{ background-color: $secondary-color;}
    &.btn-success{ background-color: $primary-color }
    &.btn-block{
        font-size: 13px!important;
        text-transform: uppercase;
    }
    &:hover{ opacity: .75!important }
    &:focus{ box-shadow: 0 0 0 transparent }
    &:active{ background-color: inherit!important; color: inherit!important }

    &.btn-outline-primary{
        border:solid 1px $primary-color!important;
        color:$primary-color;

        &:hover{
            background-color: $primary-color;
            color:#fff;
        }
    }
}