.list-group{
    .list-group-item{
        color: rgba(black, .5);
        display:inline-block;
        border-radius:3px;
        transition: all .2s;

        &:not(:last-child){ margin-bottom: 3px; }

        &.checked{
            background-color: rgba($gray, .02);
            border-color: rgba($primary-color, .5);
        }

        .checkbox-fn{
            margin-right: 5px;
            
            &:after{
                width:15px;
                height:15px;
            }

            &.checked{
                &:after{
                    font-size:8px;
                    line-height:12px;
                }
            }
        }

        .event-name{
            display:inline-block;
            padding-left:5px;
            color: rgba(black, .5);
        }

        .badge{
            font-weight: 300;
            letter-spacing: .5px;
            border-radius:10px;
            padding:3px 10px;

            &.badge-success{ background-color: $primary-color; }
            &.badge-primary{ background-color: $secondary-color; }
            &.badge-default{ background-color: #aab2bd; color:#fff }
        }
    }

    @media screen and (max-width: 768px){
        .list-group-item{
            .badge{
                float:left!important;
                margin-right:5px;
            }

            .event-name{
                width:100%;
                margin-top:10px;
                padding-left:0;
            }
        }
    }
}

.suggested_users{
    width:100%;
    padding:0;
    background-color: #fff;
    margin-top:-10px;
    border-radius:5px;
    border: solid 1px rgba(black, .1);

    li{
        display:block;
        list-style: none;
        cursor:pointer;
        padding:7px 10px;

        &:hover{
            background-color: rgba(black, .05)
        }
    }
}

.suggested_venues{
    width:100%;
    padding:0;
    background-color: #fff;
    margin-top:-37px;
    border-radius:5px;
    border: solid 1px rgba(black, .1);

    li{
        display:block;
        list-style: none;
        cursor:pointer;
        padding:7px 10px;

        &:hover{
            background-color: rgba(black, .05)
        }
    }
}

.card{
    border:0;
    background-color: #fff!important;

    &.bg-success{
        .card-header{
            background-color: $primary-color;
            color: #fff;
        }
        
        .card-body{
            background-color: #fff;
        }
    }

    &.bg-primary{
        .card-header{
            background-color: $secondary-color;
            color:#fff;
        }
    }
}

ul.deletable-list{
    padding:0;
    margin:0;

    li{
        list-style:none;
        width:100%;
        padding:10px;
        text-transform: capitalize;
        color:darken($gray, 15%);
        margin-bottom:0;
        border-radius: 4px;
        transition: all .2s;

        img{
            border-radius:3px;
            display:inline-block;
            margin-right:10px;
        }

        span{
            display:inline-block;
            line-height:20px;
        }
        
        .close-icon{
            float:right;
            padding:2px 5px;
            background-color: rgba($gray, .1);
            border-radius:3px;
            color:$primary-color;
            cursor:pointer;
        }

        &:not(.loader):hover{
            background-color: rgba($gray, .1);

            .close-icon{
                background-color: $gray;
                color:#fff;
            }
        }

        &.loader{
            height:10px;
        }

        p{
            width:calc(100% - 30px);
            display:inline-block;
        }

        .fa-level-up{
            display:inline-block;
            transform:rotate(90deg);
        }
    }

    li + .day{
        margin-top:20px;
    }
}

.comments{
    .comment{
        display:inline-block;
        width:100%;
        position:relative;
        padding:20px 10px 0 35px;
        transition: all .2s;

        &:not(:last-child){ border-bottom:solid 1px rgba($gray, .25); }

        &.checked{ background-color: rgba($gray, .1) }

        .check-comment{
            position:absolute;
            top:12px;
            left:6px;
            height:30px;
            width:30px;
            line-height:30px;
            text-align:center;

            .checkbox-fn{
                &:after{
                    width:15px;
                    height:15px;
                    line-height:12px;
                }

                &.checked:after{ font-size:9px; }
            }
        }
        
        .author-image{
            width:50px;
            height:50px;
            overflow:hidden;
            border-radius:4px;
            display:inline-block;

            img{
                width:100%;
            }
        }

        .author-info{
            width:calc(100% - 50px);
            float:right;
            padding: 0 10px;

            .date-rating{
                .comment-date{
                    color:$gray;
                    font-size:12px;
                    display:inline-block;
                }

                .comment-rating{
                    display:inline-block;
                    padding-left:10px;

                    .fa{
                        color:#f39c12;
                        display:inline-block;
                        margin-right:-2px;
                    }
                }
            }
        }

        .reports{
            color:$danger-color;
        }

        @media screen and (max-width: 476px){
            .author-info{
                width:100%;
                padding:5px 0;
            }
        }
    }
}

.users-list{
    padding:0;

    li{
        list-style:none;

        a{
            display:block;
            text-decoration:none;
            padding:5px;
            background-color: rgba($gray, .15);
            border-radius:3px;
            transition: all .2s;

            img{
                height:20px;
                border-radius:3px;
                display:inline-block;
                margin-right:10px;
            }

            &:hover{
                background-color: rgba($gray, .25);
            }
        }
    }
}

.campaings-list{
    padding:0;

    li{
        list-style:none;
        padding:10px;
        border:solid 1px rgba($gray, .25);
        border-radius:4px;

        & + li{ margin-top: 5px }

        .date{
            display:inline-block;
            background-color: $secondary-color;
            color:#fff;
            border-radius:20px;
            padding:3px 10px;
            font-size:12px;
        }

        .name{
            display:inline-block;
            padding:0 10px;
        }

        .actions{
            float:right;

            .btn{
                font-size:12px;
                display:inline-block;
                padding:0 5px;
            }
        }

        @media screen and (max-width: 768px){
            display:inline-block;
            width:100%;
            
            .name{
                padding:10px 0;
                width:100%;
            }

            .actions{
                float:left;
            }
        }
    }
}

.images-list{
    padding:0;

    li{
        list-style:none;
        display:inline-block;
        margin-right:5px;
        margin-bottom:5px;
        position:relative;

        a{
            display:inline-block;
            border-radius:4px;
            padding:3px;
            border:solid 1px $gray;

            img{
                height:150px;
            }
        }

        .checkbox-fn{
            position:absolute;
            bottom:10px;
            right:10px;

            &:not(.checked):after{
                background-color: rgba(white, .5);
                border-color: rgba($gray, .85);
            }
        }
    
        &:first-child{
            display:block;

            .upload-file{
                display:inline-block;
                height:50px;
                width:calc(100% - 60px);
                padding:5px;
                border-radius:3px;
                border:solid 1px $gray;
                margin-bottom:20px;

                .input{
                    width:calc(100% - 100px);
                    height:38px;
                    display:inline-block;
                    position:relative;
                    cursor:pointer;

                    & > span{
                        line-height: 35px;
                        padding: 0 5px;
                        color:$primary-color;
                        font-size:24px;
                        display:inline-block;
                        transition: all .2s;
                        position:absolute;

                        &.filled{
                            transform: rotate(45deg);
                        }
                    }

                    .files{
                        font-size:13px;
                        color:$dark-color;
                        line-height:20px;
                        margin-left: 25px;
                        padding:10px 0;
                        height:30px;
                        overflow:hidden;
                    }

                    input{
                        position:absolute;
                        top:0;left:20px;width:calc(100% - 20px);height:100%;
                        opacity:0;
                        cursor:pointer;
                    }
                }

                button{
                    border:0;
                    border-radius:3px;
                    width:100px;
                    text-align:center;
                    float:right;
                    height:38px;
                    line-height:40px;
                    font-size:14px;
                    cursor:default;
                    background-color: $gray;
                    color:$dark-color;
                    opacity:.25;
                    transition: all .2s;

                    &.active{
                        background-color: $primary-color;
                        color:#fff;
                        cursor:pointer;
                        opacity: 1;
                    }
                }
            }

            .file-actions{
                float:right;

                button{
                    border-radius:4px;
                    width:50px;
                    border:0;
                    line-height: 50px;
                    height:50px;
                    outline:0;
                    background-color: $gray;
                    color:$dark-color;
                    opacity:.25;
                    cursor:default;
                    transition: all .2s;

                    .fa{ font-size:18px; }

                    &.active{
                        background-color: $danger-color;
                        cursor:pointer;
                        color:#fff;
                        opacity:1;
                    }
                }
            }
        }
    }
}

.collections-list{
    .collection{
        display:inline-block;
        width:100%;
        border-radius:4px;
        overflow:hidden;
        background-color: #fff;
        text-decoration: none;
        margin-bottom:20px;
        position:relative;

        .events-count{
            position:absolute;
            top:5px;right:5px;
            background-color: $primary-color;
            color: #fff;
            border-radius:4px;
            height:20px;
            width:20px;
            text-align:center;
            line-height:20px;
        }

        .image{
            background-color: rgba(black, .75);
            height:100px;
            position:relative;

            svg{
                height:70px;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
            }

            img{
                min-width:100%;
                height:100%;
                opacity: .5;
                transition: all .2s;
            }
        }

        &:hover{
            .image img{ opacity: 1 }
        }

        .name{
            padding:10px;
        }

        .description{
            padding:0 10px;
            color:$gray;
        }
    }
}