header{
    &.main-header{
        width:100%;
        display:inline-block;
        position:fixed;
        top:0;
        left:0;
        z-index: 999;
        
        .top-bar{
            width:100%;
            display:inline-block;
            height:30px;
            line-height:30px;
            background-color: #fff;
            font-size:12px;
            transition: all .2s;

            span{
                display:inline-block;
                padding-left:80px;
            }

            nav.top-nav{
                float:right;

                ul{
                    padding:0;

                    li{
                        display:inline-block;

                        a{
                            display:inline-block;
                            padding: 0 10px;
                            color:$link-color;
                        }

                        &:not(:last-child){
                            position:relative;

                            &:after{
                                content:'/';
                                position:absolute;
                                top:0;
                                right:0;
                                transform:translateX(50%);
                                color:$primary-color;
                            }
                        }
                    }
                }
            }
        }
        
        .middle-bar{
            width:100%;
            display:inline-block;
            padding: 10px 0;
            background-color: #111;

            .logo{
                float:left;
                display:inline-block;
                width:70px;
                margin-top:-35px;
                margin-right: 10px;
                transition: all .2s;
    
                img{
                    display:inline-block;
                    width:70px;
                    transition: all .2s;
                }
            }
    
            .header-search{
                float:left;
                background-color: #fff;
                border-radius:4px;
                overflow:hidden;
    
                input{
                    height:30px;
                    border:0;
                    font-size:12px;
                    padding:0 10px;
                    width:250px;
                }
    
                button{
                    float:right;
                    background-color: $primary-color;
                    color:#fff;
                    height:30px;
                    width:30px;
                    line-height: 30px;
                    text-align:center;
                    border:0;
                    cursor:pointer;
                }
            }
    
            .advanced-search{
                display:inline-block;
                text-transform: uppercase;
                color:rgba(white, .45);
                transition: all .2s;
                line-height:30px;
                font-size:12px;
                text-decoration:none;
                padding: 0 10px;
    
                &:hover{
                    color:#fff;
                }
            }

            .header-profile{
                float:right;

                .avatar{
                    display:inline-block;
                    
                    &:after{display:none;}

                    img{
                        margin-right:10px;
                        border-radius:3px;
                        height:30px;
                    }

                    .fa{
                        color:rgba(white, .45);
                    }

                    &:hover{
                        .fa{color:#fff;}
                    }
                }

                .dropdown-menu{
                    width:300px;
                    left:auto!important;
                    padding:0!important;
                    right:0;
                    transform:translate3d(0px, -5px, 0px) scale(0)!important;
                    transform-origin: 100% 0;
                    display:block!important;
                    transition: all .2s;
                    line-height:1.5!important;

                    &.show{
                        transform:translate3d(0px, -5px, 0px) scale(1)!important;
                    }

                    .dropdown-profile{
                        padding:10px;
                        display:inline-block;
                        width:100%;

                        .dropdown-avatar{
                            width:80px;
                            display:inline-block;
                            float:left;

                            img{
                                height:80px;
                                border-radius:5px;
                            }
                        }

                        .profile-info{
                            width:calc(100% - 80px);
                            padding: 0 10px;
                            display:inline-block;

                            p{
                                margin-bottom:0;
                                font-size:14px;

                                &.username{
                                    color:rgba(black, .5);
                                }
                            }

                            a{
                                font-size:13px;
                                color:$link-color;
                                line-height:30px;

                                &.profile{
                                    text-decoration:none;
                                    width:100%;
                                    display:block;
                                    background-color: $link-color;
                                    color:#fff;
                                    text-align:center;
                                    box-shadow: 0 2px 0 darken($link-color, 10%);
                                    transition: all .2s;

                                    &:hover{
                                        background-color: darken($link-color, 10%);
                                    }
                                }
                            }
                        }
                    }

                    .dropdown-nav{
                        ul{
                            li{
                                display:block;

                                a{
                                    display:inline-block;
                                    width:100%;
                                    height:40px;
                                    line-height:40px;
                                    border-top:solid 1px rgba(black, .15);
                                    color:$dark-gray;
                                    padding:0 20px;
                                    font-size:14px;
                                    text-decoration:none;

                                    .fa{
                                        color:$link-color;
                                        display:inline-block;
                                        margin-right:10px;
                                    }
                                }

                                &:last-child{
                                    a{
                                        border-bottom:solid 1px rgba(black, .15);
                                    }
                                }
                            }
                        }
                    }

                    .dropdown-footer{
                        margin-top:-17px;
                        padding:15px;

                        .btn-logout a{
                            width:30px;
                            height:30px;
                            display:inline-block;
                            text-align:center;
                            line-height:30px;
                            background-color: $danger-color;
                            border-radius:3px;
                            color:#fff;
                            transition: all .2s;

                            &:hover{
                                background-color: darken($danger-color, 10%);
                            }
                        }
                    }
                }
            }
        }

        .bottom-bar{
            background-color: #fff;
            line-height:40px;
            height:40px;
            overflow:hidden;
            transition: all .2s;

            nav.categories{
                ul{
                    float:left;
                    width:calc(100% - 40px);

                    li{
                        display:inline-block;
                        
                        a{
                            display:inline-block;
                            padding:0 5px;
                            color:lighten($primary-color, 15%);
                            text-decoration: none;
                            transition: all .2s;

                            &:hover{
                                color: darken($primary-color, 5%);
                            }
                        }
                    }
                }

                .all-categories{
                    background-color: #fff;
                    position:relative;
                    color:$dark-gray;
                    float:right;
                    width:40px;
                    text-decoration:none;
                    
                    &:hover{
                        opacity: .5;
                    }

                    &:after{
                        content:'';
                        position:absolute;
                        top:0;
                        left:-30px;
                        width:30px;
                        height:100%;
                        background: linear-gradient(to left, white, transparent);
                    }
                }
            }
        }

        &.sticky-header{
            .top-bar, .bottom-bar{
                float:left;
                height:0;
                overflow:hidden;
                padding:0;
            }

            .middle-bar{
                .logo{
                    width:30px;
                    margin-top:0;

                    img{
                        width:30px;
                    }
                }
            }
        }

        @media screen and (max-width:768px){
            .middle-bar{
                .header-search{
                    display:none;
                }
            }
        }

        @media screen and (max-width: 540px){
            .top-bar{
                .user-city{
                    display:none;
                }
            }
        }
    }
}