.sidebar-widget{
    .sidebar-heading{
        text-transform: uppercase;
        color:$dark-gray;
        font-weight: bold;
    }

    .sidebar-users{
        li{
            display:inline-block;
            width:100%;
            margin-top:10px;

            .user-info{
                width:calc(100% - 50px);
                display:inline-block;

                img{
                    width:40px;
                    border-radius:3px;
                    float:left;
                }

                p{
                    display:inline-block;
                    width:calc(100% - 40px);
                    float:left;
                    margin-bottom:0;
                    padding-left:10px;

                    &.fullname{ color:$dark-gray }
                    &.username{ color: rgba($dark-gray, .5) }
                }
            }

            .user-actions{
                width:50px;
                float:right;
                text-align:right;

                .btn{
                    height:20px;
                    line-height:17px;
                    padding:0;
                    width:20px;
                    text-align:center;
                }
            }
        }
    }
}

.sidebar-list{
    padding:0;
    margin-top:15px;

    li{
        list-style:none;
        width:100%;

        a{
            display:inline-block;
            width:100%;
            transition: all .2s;
            padding: 5px 0;
            border-radius:4px;
            text-decoration:none;
            color:$dark-gray;
            position:relative;

            span{
                float:right;
                color:$gray;
            }

            &:hover{
                padding: 5px;
                background-color: rgba($gray, .15);
            }
        }

        &:not(:last-child){
            a{
                border-bottom:solid 1px rgba($gray, .25);
            }
        }

        &.last{
            a{
                text-align:center;
                color:$primary-color;
                line-height:30px;
            }
        }
    }
}

.events-list{
    padding:0;

    li{
        list-style:none;
        width:100%;

        a{
            display:inline-block;
            width:100%;
            text-decoration:none;
            border-radius:4px;
            transition: all .2s;

            .event-date{
                background-color: $secondary-color;
                width:50px;
                text-align:center;
                color:#fff;
                line-height:24px;
                padding: 12px 0 0;
                border-radius:4px;
                float:left;

                .day{
                    line-height:13px;
                    font-size:24px;
                }

                .month{
                    font-size:14px;
                }
            }
            
            .event-info{
                width: calc(100% - 50px);
                padding-left: 10px;
                float:left;

                .event-name{
                    color:$dark-gray;
                }

                .event-location{
                    .fa{
                        color: $primary-color;
                    }

                    color: $gray;
                }
            }

            &:hover{
                background-color: rgba($gray, .05)
            }
        }
    }
}