
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #37bc9b;
$secondary-color: #50c1e9;
$link-color: #3e9ac9;
$gray: #aab2bd;
$dark-gray: #454545;
