.primary-color-text{ color: $primary-color }
.secondary-color-text{ color: $secondary-color }

.paragraph-title{
    padding-bottom:20px;
    margin-bottom:20px;
    position:relative;
    width:100%;
    display:inline-block;

    &:after{
        content:'';
        position:absolute;
        bottom:0;
        left:0;
        width:30px;
        height:1px;
        background-color: $primary-color;
    }

    &.centered{
        text-align:center;

        &:after{
            left:50%;
            transform:translateX(-50%);
        }
    }
}

.list-item{
    font-size:13px;
    line-height: 24px;
    color: $link-color;
    transition: all .2s;

    &:hover{
        text-decoration:none;
        color: $primary-color;
    }
}

.text-primary, .text-success{ color:$primary-color!important; }
.text-secondary{ color: $secondary-color!important; }