// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import '../bootstrap';
@import '../variables';

@import "libraries";

// Components
@import 'components/header';
@import 'components/footer';
@import 'components/event';
@import 'components/sidebar';
@import 'components/buttons';
@import 'components/forms';
@import 'components/tabs';

@import 'typography';

*, *:after, *:before{
    padding:0;margin:0;outline:none;
    box-sizing:border-box;
}

body{
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    background-color: #111;
    color: $dark-gray;
}

#wrapper{
    background-color: #fff;
    margin-top:20px;
    border-radius:4px;
    padding-top:15px;
    padding-bottom:15px;
}

a{
    color:$link-color;

    &:hover{
        color:darken($link-color, 10%)
    }
}

.city{
    display:inline-block;
    margin-bottom:20px;

    img{
        width:100%;
        border-radius:4px;
    }
}

.section-title{
    font-size:16px;
    text-align:center;
    color:$dark-gray;
    border-bottom:solid 1px rgba($gray, .5);
    padding: 10px 0;
    margin:20px 0;
}

#wrapper{
    margin-top:140px;
}

[v-cloak]{ display:none }


.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}